
:root{
    --main-bg-color: rgb(155, 149, 149);
    --main-text-color: rgb(53, 51, 51);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--main-bg-color);
}
h1{
    text-align: center;
    color: white;
    font-size: 10rem;
    font-family: 'Pixelify Sans';
}
header{
    padding-top: 3.5rem;
    background-color: var(--main-text-color); 
    width: 100%;
    height: 20rem;
}
main{
    
    width: 100%;
    
}
#start{
    margin-top: 26rem;
}
h2{
    display: block;
    text-align: center;
    font-size: 6rem;
    font-family: 'Pixelify Sans';
}
.spielfeld{
    width: 100%;
    height: 5rem;
    margin-top: 5rem;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
section > div{
    text-align: center;
    width: 8rem;
    height: 8rem;
    font-size: 4rem;
    font-family: 'Pixelify Sans';
    border: 3px solid var(--main-text-color);
    border-radius: 5px;
    /* background-color: rgb(89, 207, 89); */
}
h3{
    padding-top: 1rem;
}
.questionContainer{
    display: none;
    text-align: center;
}
.question{
    margin-top: 4rem;
    margin-bottom: 1.7rem;
    background-color: white;
}
.styleAnswer{
    
    background-color: transparent;
    color: var(--main-text-color);
    font-family: 'Pixelify Sans';
    width: 45rem;
    height: 6rem;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
#styleCheck{
    background-color: white;
}
